.list-items a{
    display: block;
    border-top: 1px solid #f2f2f2;
}
.list-items:first-child  a{
    border: none;
}
.list-items a.touch {
    background-color: #f0f0f0
}
.list-items dl{
    padding: 0.86rem 0.86rem;
    overflow: hidden;
}

.list-items dl dt{
    float: left;
    width: 5.5rem;
    height: 4.3rem;
    position: relative;
}
.list-items dt img{
    width: 5.5rem;
    height: 4.3rem;
    vertical-align: top;
}
.list-noPic dt{
    display: none;
}
.list-items dl dd{
    margin-left: 5.8rem;
    position: relative;
}
.list-noPic dl dd{
    margin-left: 0;
}
.list-items .house-name{
    color: #404040;
    height: 0.92rem;
    line-height: 0.92rem;
    font-size: 0.8rem;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0.17rem;
}
.list-items .house-name.name-icon{
    padding-right: 16px;
}
.icon-safe{
    /*background: url(//sta.ganjistatic1.com/public/image/mobile/touch/milan/house/m_list_icon.png?v=5) right -40px no-repeat;*/
    background-size: 16px auto;
}
.icon-top{
    /*background: url(//sta.ganjistatic1.com/public/image/mobile/touch/milan/house/m_list_icon.png?v=5) right 0 no-repeat;*/
    background-size: 16px auto;
}
.icon-hightop{
    /*background: url(//sta.ganjistatic1.com/public/image/mobile/touch/milan/house/m_list_icon.png?v=5) right -136px no-repeat;*/
    background-size: 16px auto;
}
.icon-freshtop{
    /*background: url(//sta.ganjistatic1.com/public/image/mobile/touch/milan/house/m_list_icon.png?v=5) right -154px no-repeat;*/
    background-size: 16px auto;
}
.icon-hot{
    /*background: url(//sta.ganjistatic1.com/public/image/mobile/touch/milan/house/m_list_icon.png?v=5) right -20px no-repeat;*/
    background-size: 16px auto;
}
.icon-jing{
    /*background: url(//sta.ganjistatic1.com/public/image/mobile/touch/milan/house/m_list_icon.png?v=5) right -58px no-repeat;*/
    background-size: 16px auto;
}

.list-items{
  border-bottom: 1px solid #efe0e0;
}

.list-items .house-info{
    height: 1.15rem;
    line-height: 1.15rem;
    overflow: hidden;
    margin-bottom: 0.115rem;
}
.list-items .house-price{
    position: absolute;
    right: 0;
    top: 1.72rem;
    font-size: 0.74rem;
    font-weight: bold;
    color: #ff5600;
    height: 0.86rem;
    line-height: 0.86rem;
    text-align: right;
    /*text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;*/
}
.list-items .house-price span{
    font-size: 0.57rem;
    font-weight: bold;
    color: #ff5600;
}

.list-items .house-addr{
    overflow: hidden;
    height: 1rem;
    line-height: 1rem;
}
.list-items .house-area{
    font-size: 0.69rem;
    display: inline-block;
    color: #808080;
    line-height: 0.69rem;
    margin-right: 0.11rem;
}
.house-addr .house-area{
    display: block;
    width: 65%;
    font-size: 0.63rem;
    height: 0.92rem;
    line-height: 0.92rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 10px;
    /*background: url(//sta.ganjistatic1.com/public/image/mobile/touch/milan/house/m_list_icon.png?v=5) left -187px no-repeat;*/
    background-size: 16px auto;
}
.list-items .house-condition{
    height: 0.14rem;
    font-size: 0;
    overflow: hidden;
}
.list-items .house-condition span{
    display: inline-block;
    padding: 0.01rem 0.02rem;
    height: 0.12rem;
    line-height: 0.12rem;
    font-size: 0.1rem;
    -webkit-border-radius: 3px;
    margin-right: 0.04rem;
    color: #81879a;
    background: #F1F1F1;
}
.list-items .house-addr-date{
    overflow: hidden;
    margin-bottom: 0.04rem;
}

.list-items p span,.house-addr-date span{
    display: inline-block;
    line-height: 0.15rem;
    color: #808080;
}
.retui-title{
    font-size: 0.14rem;
    line-height: 0.14rem;
    font-weight: bold;
}
.retui-imgs{
    margin: 0.1rem 0;
    overflow: hidden;
}
.retui-imgs li{
    width: 33.2%;
    height: 0.75rem;
    float: left;
    overflow: hidden;
    text-align: center;
}
.retui-imgs li img{
    width: 97%;
    height: 0.75rem;
}

.retui-desc span{
    display: inline-block;
}
.retui-desc .desc-xiaoqu{
    font-size: 0.14rem;
    margin-right: 0.05rem;
    font-weight: bold;
}
.retui-desc .desc-huxing{
    font-size: 0.12rem;
    color: #808080;
}
.retui-desc .desc-price{
    font-size: 0.12rem;
    float: right;
    color: #FF5600;
}

.house-pulishtime{
    float: right;
    font-size: 12px;
    line-height: 0.18rem;
    color: #808080;
}

.list-more{
    border-top: 1px solid #f2f2f2;
}
.list-more a{
    display: block;
    margin: .2rem auto;
    text-align: center;
    font-size: .14rem;
    font-weight: bold;
    color: #55bb22;
    position: relative;
    width: 1.8rem;
    height: .34rem;
    line-height: .34rem;
    border-radius: .17rem;
    border: 1px solid #55bb22;
}
.list-more a.no-more{
    height: .15rem;
    line-height: .15rem;
    border: none;
    color: #b7b7b7;
    font-weight: normal;
}
.list-more a:after{
    content: "";
    width: 12px;
    height: 12px;
    display: inline-block;
    /*background: url(//sta.ganjistatic1.com/public/image/mobile/touch/milan/house/m_list_icon.png?v=5);*/
    background-size: 16px auto;
    background-position: 0 -91px;
    margin-left: 5px;
    margin-bottom: 0;
}
.list-more a.no-more:after{
    display: none;
}
.list-more a.touch{
    background-color: #55bb22;
    color: #FFFFFF;
}
.list-more a.touch:after{
    background-position: 0 -122px;
}
.list-more a.no-more.touch{
    background-color: #FFFFFF;
}
.list-more.house-more a:after{
    display: none;
}

.list-more a.ershoufang {
    border: none;
    font-size: 12px;
    color: #b3b3b3;
    margin: 0.1rem auto;
}
.list-more a.ershoufang:after{
    display: none;
}
.list-more a.ershoufang img{
    width: 0.15rem;
    height: 0.15rem;
    vertical-align: -3px;
    margin-right: .05rem;
}
/*
.house-more a:after{
    content: "";
    position: absolute;
    top: 0.2rem;
    width: 8px;
    height: 8px;
    border-right: 1px solid #55bb22;
    border-bottom: 1px solid #55bb22;
    -webkit-transform: rotate(-45deg);
}
*/
/*hengpai*/
.apartment-box{
    overflow: hidden;
    border-top: 1px solid #f2f2f2;
    padding-bottom: 15px;
}
.boutique-tit{
    color: #ff7800;
    font-size: 12px;
    height: 42px;
    line-height: 42px;
    padding-left: 26px;
    position: relative;
}
.boutique-tit::before{
    content: "";
    position: absolute;
    left: 10px;
    top: 15px;
    /*background: url(../../../../image/mobile/touch/milan/list.png) no-repeat;*/
    width: 14px;
    height: 14px;
    background-position: -78px -76px;
    background-size: 160px auto;
}
.boutique-ul{
    padding: 0 10px;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    min-width: 100%;
    height: 97px;
    display: -webkit-box;
    float: left;
}
.boutique-ul li{
    width: 235px;
    padding: 10px;
    margin-right: 10px;
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
}
.boutique-ul li:last-child{
    margin-right: 0;
}
.boutique-ul li:only-child{
    width: 100%;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.boutique-ul li:only-child .con{
    width: 62%;
}
.boutique-ul li a{
    display: block;
    overflow: hidden;
}
.boutique-ul li img{
    width: 95px;
    height: 75px;
}
.boutique-ul li .con{
    width: 132px;
    padding-left: 8px;
    margin-top: -1px;
    height: 75px;
}
.boutique-ul li .price{
    font-size: 16px;
}
.boutique-ul li .gray{
    color: #b7b7b7;
    font-size: 12px;
}
.boutique-ul li p{
    line-height: 19px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}
.boutique-ul li a.touch{
    background-color: #f0f0f0;
}

.boutique-tit span{
    font-size: 12px;
    color: #989898;
}
/*hengpai*/
.list-nodata-txt{
    border-top: 1px solid #f2f2f2;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.house-guess h2{
    font-size: 0.15rem;
    line-height: 0.16rem;
    padding: 0.1rem 0.15rem;
    font-weight: bold;
}
.house-sydc .info-price{
    color: #FF5600;
}
.house-sydc .house-info{
    line-height: 0.12rem;
    height: 0.12rem;
    margin-bottom: 0;
    margin-top: 0.175rem;
}
.house-sydc .house-area{
    line-height: 0.12rem;
    vertical-align: top;
}
.house-guess .list-items dl{
    padding: 0.15rem 0;
}

/*������*/
.fcj-icon{
    /*background: url(//sta.ganjistatic1.com/public/image/mobile/touch/milan/house/gj_fcj_icon.png);*/
    background-size: 150px auto;
}
.icon-fcj2017{
    /*background: url(//sta.ganjistatic1.com/public/image/mobile/touch/milan/house/m_list_icon.png?v=5) right -105px no-repeat;*/
    background-size: 16px auto;
}
.icon-pic{
    display: block;
    position: absolute;
    width: 45px;
    height: 15px;
    left: 0;
    top: 0;
    background-position: 0 0;
}
.fcj-title{
    width: 69px;
    height: 15px;
    background-position: 0 -24px;
}
.fcj-cont{
    height: 0.14rem;
    line-height: 0.14rem;
    font-size: 13px;
    margin-top: 0.15rem;
}
.fcj-cont span{
    height: 0.14rem;
    line-height: 0.14rem;
    font-size: 13px;
    color: #ff5600;
}
.fcj-bottom{
    display: inline-block;
    height: 0.14rem;
    line-height: 0.14rem;
    position: absolute;
    left: 0;
    top: 0.6rem;
}
.fcj-border{
   /* margin-left: 20px;*/
    height: 0.14rem;
    line-height: 0.14rem;
    vertical-align: top;
    border: 1px solid #f85b58;
    border-radius: 2px;
}
.fcj-border span{
    display: inline-block;
    height: 0.14rem;
    line-height: 0.14rem;
    font-size: 0.12rem;
    vertical-align: top;
}
.fcj-border .fcj-haoli{
    background-color: #f85b58;
    color: #FFFFFF;
    width: 0.7rem;
    padding-left: 0.05rem;
    border-radius: 0px 7px 7px 0px;
}
.fcj-border .fcj-num{
    color: #f85b58;
    padding-right: 0.05rem;
}

.icon-hongbao{
    position: absolute;
    left: 80px;
    top: 0;
    width: 13px;
    height: 15px;
    background-position: -56px 0;
}
/*������*/

/*商铺列表页样式改版 s*/
.list-sp{
    padding-left: 0.15rem;
}
.list-sp .list-items dl{
    padding: 0.15rem 0.15rem 0.15rem 0;
    overflow: hidden;
}

.list-sp .list-items dl dt{
    float: left;
    width: 1.04rem;
    height: 0.78rem;
    position: relative;
}
.list-sp .list-items dd{
    margin-left: 1.2rem;
    position: relative;
}
.list-sp .list-items dt img{
    width: 1.04rem;
    height: 0.78rem;
    vertical-align: top;
}
.list-sp .list-items .house-name{
    display: -webkit-box;
    display: box;
    font-size: 0.16rem;
    line-height: 0.22rem;
    height: 0.44rem;
    margin-bottom: 0.03rem;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.list-sp .house-name span.icon{
    display: inline-block;
    width: 22px;
    height: 12px;
    /*background: url(//sta.ganjistatic1.com/public/image/mobile/touch/milan/house/m_list_tubiao.png);*/
    background-size: 22px auto;
    margin-right: 0.05rem;
}
.list-sp .house-name span.icon-anxuan{
    background-position: 0 0;
}
.list-sp .house-name span.icon-safe{
    background-position: 0 -16px;
}
.list-sp .house-name span.icon-jing{
    background-position: 0 -32px;
}
.list-sp .house-name span.icon-hightop{
    background-position: 0 -48px;
}
.list-sp .house-name span.icon-freshtop{
    background-position: 0 -64px;
}
.list-sp .house-name span.icon-top{
    background-position: 0 -80px;
}
.list-sp .list-items .house-price{
    position: relative;
    top: 0;
    text-align: left;
    font-size: 0.16rem;
    height: 0.16rem;
    line-height: 0.16rem;
    color: #F85B58;
}
.list-items .house-price span{
    font-weight: normal;
}
.list-sp .house-info{
    height: 0.13rem;
    line-height: 0.12rem;
    margin-bottom: 0.03rem;
}
.list-sp .house-info span{
    color: #999999;
    font-size: 0.12rem;
    line-height: 0.13rem;
    font-weight: normal;
    margin-right: 0.05rem;
}
.list-sp .house-info span:last-child{
    margin-right: 0;
}
/*商铺列表页样式改版 e*/

.house-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    /*background: url(http://sta.ganjistatic1.com/public/image/mobile/touch/milan/house/m_detail_video_icon.png) no-repeat;*/
    background-size: 0.38rem;
    background-position: 0 -0.8rem;
    width: 0.33rem;
    height: 0.33rem;
    border-radius: 50%;
}
